.item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: min(90vw, 560px);
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #888888;
    padding: 10px 15px;
}

.activeItem {
    background: #444444;
    border-color: #555555;
}

.leftSide {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 4px 10px 4px 4px;
    margin: -4px -10px -4px -4px;
}

.leftSide:hover {
    background-color: #555555;
}

.playPause {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75em;
    height: 1.75em;
    margin-right: 6px;
}

.rightSide {
    display: flex;
    align-items: center;
}

.rename {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75em;
    height: 1.75em;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
}

.rename:hover {
    background-color: #886600;
}

.clear {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75em;
    height: 1.75em;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
}

.clear:hover {
    background-color: #aa3333;
}

.separator {
    margin: 0 10px;
    color: #888888;
}
